@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

:root{
    --darkgreen: #1A535C;
}

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#wikiwhite